.resources {
  background-color: var(--ifm-background-surface-color);
}

.resource {
  display: flex !important;
  flex-direction: column;

  a {
    color: unset;
    text-decoration: none;
  }
}

.hidden_resource {
  display: flex !important;
  flex-direction: row;
  visibility: hidden;

  a {
    color: unset;
    text-decoration: none;
  }
}

.card {
  flex-grow: 1;
  justify-content: center;
  background: var(--ifm-background-color);

  &:hover {
    border-color: var(--ifm-color-primary-light) !important;
  }
}

.team_title {
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

@media screen and (min-width: 992px) {
  .team_title {
    font-size: 3rem;
  }
}